.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}
.status-bar__time {
  margin-right: 65px;
  font-weight: 600;
}
.status-bar__battery span,
.status-bar__battery .fa-battery-full {
  margin-right: 1px;
}
